body 
{
	font-family: Monospace;
	font-weight: bold;
	background-color: #ccccff;
	margin: 0px;
	overflow: hidden;
}

div#WebGL-container{display: none; float:left; position: absolute; }

div#loading{width:400px; height:400px;}