html, body {
    height: 100%;
    width: 100%;
}
body 
{
	font-family: Monospace;
	font-weight: bold;
	background-color: white;
	margin:0px;
	overflow: hidden;
}

div#WebGL-container{display:none; float:left; position: absolute; }

div#gameOverScreen{
	position: absolute;
	display:none;
	border-radius:30px;
   	border:10px solid black;
	background-color:black;
}


a{cursor:pointer;}
a:hover { color: white; }
a:active { color: #c0c0c0;}


div#loading{width:100%; height:100%; margin-top:0px ; background-color:black;}
div#loading h1{color:white;}

div#gameOverScreen h1{ line-height:0px;font-family: "Myriad Pro","Source Sans Pro",sans-serif; text-align:center; margin-top: 50px;color:white; font-size:2em;}

div#gameOverScreen div#result{margin-left: auto; margin-right:auto; }
div#gameOverScreen div#result p{color:white;}
div#gameOverScreen div#result #red{color:red;}
div#gameOverScreen div#result p#try_again{cursor:pointer;}

div#startGameScreen 
{
	position: absolute;
	display:none;
	border-radius:30px;
   	border:10px solid black;
	background-color:black; 
}
div#startGameScreen h1{ font-family: "Myriad Pro","Source Sans Pro",sans-serif; text-align:center; margin-top: 50px;color:white; font-size:2em;}
div#startGameScreen div#spacecontrolsdiv { border:0px solid white; margin-top:30px; margin-left:150px;}

div.options {border:0px solid white; margin: 0 auto;}
div.spaceshipdiv {border:0px solid white; margin: 0 auto;}
div.someInfo{ margin-left:110px; border-top:1px solid white; width:620px; padding-top:10px;}
div.someInfo p{ line-height: 1rem; font-family: "Myriad Pro","Source Sans Pro",sans-serif; color:white; }
div.buttons {margin:20px auto; width:210px; border:0px solid #c0c0c0;}
div.buttons_2 {margin:20px auto; width:400px; border:0px solid #c0c0c0;}


div#timer{position:absolute; bottom:10px;}
div#timer #stopwatch{font-size:3em; color:white; font-weight:600; }

div#coins{
	position: absolute;
	width:200px;

	z-index: 40; 
	top:10px;

}
div#coins #totalcoins
{
	color:white;
}
h1.white {
	color:white;
	font-size:2em;
}

div.ui-progressbar {
    position: relative;
  }
 div.progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }

 div#redSplash{background-color:#770003; width:100%; height:100%; position:absolute; opacity:0.2;display:none;}

 div#WebGL-container div#healthBar{position:absolute; width:400px; height:20px; 
 								   border:4px solid #c0c0c0; }

 div#WebGL-container div#healthBar div#health{position:relative;width:400px;height:20px; background-color:#00ff00;}



/*BUTTONS */
.playbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #428f54), color-stop(1, #208027) );
	background:-moz-linear-gradient( center top, #428f54 5%, #208027 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#428f54', endColorstr='#208027');
	background-color:#428f54;
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-topleft:4px;
	border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-radius-topright:4px;
	border-top-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-radius-bottomright:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
	border-bottom-left-radius:4px;
	text-indent:0;
	display:inline-block;
	color:#073017;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;

}
.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #208027), color-stop(1, #428f54) );
	background:-moz-linear-gradient( center top, #208027 5%, #428f54 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#208027', endColorstr='#428f54');
	background-color:#208027;
}.classname:active {
	position:relative;
	top:1px;